*,html{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root{
    --container: #152238;
    --secondary:whitesmoke;
    --primary:black;
    --background: linear-gradient(#051224, #182c4e, #3f5478);
}  

body{
    background: var(--background);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
}


.container .daftar-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 5px;
    display: block;
    text-transform: capitalize;
}

.daftar{
    background-image: url(//external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.uKpZQXej8apwGFpVZuGFowHaLd%26pid%3DApi&f=1&ipt=5b8b7581e20e26ef25bd176ec7f2557856f3c8c500d681c328446305d7eae6e6&ipo=images);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
}

/* .container .daftar .bungkus {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
    padding: 40px 30px;
} */
.input-group{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.input-group input{
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    outline: none;
    transition: .3s;
}

.container .daftar .input-group input:focus, .container .container .daftar .input-group input:valid {
    border-color: #152238;
}

.container .daftar .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #b48651;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.login{
    background-image: url(//external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperbat.com%2Fimg%2F465529-black-and-white-microphone-photography-4-the-art-mad.jpg&f=1&nofb=1&ipt=4df1fbaf2b113d0d30656bce3033e297918bb550b921571c81e50b322ba6e181&ipo=images);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
}
/* 
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    height: 70%;
    width: 70%;
} 

/* .bungkus{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bungkus div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    color: var(--secondary);
    font-weight: bold;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
}
*/

input{
    border-radius: 10px;
    height: 30px;
    width: 250px;
    font-size: 16px;
}

button{
    display: block;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    border: none;
    background: #152238;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    transform: translateY(-5px);
    background: #7baafc;
}
