*,html{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root{
    --container: #152238;
    --secondary:whitesmoke;
    --primary:black;
    --background: linear-gradient(#051224, #182c4e, #3f5478);
}  

body{
    background: var(--background);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
}


.daftar{
    background-image: url(https://img.freepik.com/free-photo/beautiful-brunette-woman-singing-microphone-isolated-gray-wall_231208-12884.jpg?w=740&t=st=1667491276~exp=1667491876~hmac=d8af76d6cb49364058f37a198e6fb0d353641d6b2ba8da85de371ca4a6b80e0d);
    background-size: cover;
    background-position: right;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.login{
    background-image: url(https://img.freepik.com/free-photo/singing-happy-caucasian-girl-s-portrait-dark-studio-background-neon-light-beautiful-female-model-with-speaker_155003-26150.jpg?w=740&t=st=1667491353~exp=1667491953~hmac=e8b04a4542f5a50efd11257d62feea44296c8cfeec88735f858d83a4aaa40c73);
    background-size: cover;
    background-position: left;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.daftar-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 50px;
    display: block;
    text-transform: capitalize;
}

.bungkus {
    width: 400px;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 60px 30px;
}


.input-group{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    
}

.input-group input{
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    outline: none;
    transition: .3s;
}

.container .daftar .input-group input:focus, .container .container .daftar .input-group input:valid {
    border-color: #152238;
}


button{
    display: block;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    border: none;
    background: #152238;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    transform: translateY(-5px);
    background: #7baafc;
}
